/* {
  outline: 1px solid red;
} /**/

html,
body {
  margin: 0;
  padding: 0;

  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #222;
  color: #ddd;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  max-width: 100%;
}

td,
td .circle {
  width: 4rem;
  height: 4rem;
}

td {
  padding: 0.5em;
}

.circle {
  border: 1rem solid #ddd;
  border-radius: 50%;
}

td.true .circle {
  background-color: #ddd;
}

.message-win {
  font-family: 'Courgette';
  font-size: 5em;
  text-align: center;

  opacity: 0;
  transition: 1s all;
}
