.win-message {
  margin: 2rem;

  font-family: 'Courgette';
  text-align: center;

  transition: 0.5s transform;
}

.win-message#symbol {
  font-size: 8rem;
}

.win-message#word {
  font-size: 5rem;
}

.win-message#phrase {
  font-size: 3rem;
}
