html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
body {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 2rem;
	width: 750px;
	margin: 0 auto;
}
table {
    width: 300px;
    height: 300px;
    margin: auto;
	display: none;
}
td {
    border: 2px solid white;
    background-color: black;
    border-radius: 100%;
    text-align: center;
}
.score div {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: auto;
}
.share {
    display: flex;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 1rem;
    justify-content: space-around;
	width: 750px;
}
.share a {
    font-size: 5rem;
    text-decoration: none;
    transition: color 0.3s;
    color: inherit;
    width: 5rem;
}
.share .fa-facebook-square:hover {
    color: #3b5998;
}
.share .fa-twitter:hover {
    color: #55acee;
}
.share .fa-reddit-alien:hover {
    color: #ff5700;
}
.share .fa-github:hover {
    color: #6e5494;
}
