/*
These awesome media queries are from https://stackoverflow.com/a/40542824.
*/

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen
and (min-width: 320px)
and (max-width: 480px) {
  .win .symbol {
    font-size: 6.5rem;
  }

  .win .word {
    font-size: 3.5rem;
  }

  .win .phrase {
    font-size: 2rem;
  }

  /*body {
    background-color: purple;
  }/**/
}

/* smartphones, Android phones, landscape iPhone */
@media only screen
and (min-width: 480px)
and (max-width: 600px) {
  /*body {
    background-color: orange;
  }/**/
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen
and (min-width: 600px)
and (max-width: 767px) {
  /*body {
    background-color: green;
  }/**/

  #game td {
    padding: 0.375rem;
  }

  #game td,
  #game td div {
    width: 3rem;
    height: 3rem;
  }

  #game td div {
    border-width: 0.5625rem;
  }
}

/* big landscape tablets */
@media only screen
and (min-width: 767px)
and (max-width: 1030px) {
  /*body {
    background-color: red;
  }/**/

  #game td {
    padding: 0.75rem;
  }

  #game td,
  #game td div {
    width: 6rem;
    height: 6rem;
  }

  .win h1 {
    margin: 0 auto;
  }

  #game td div {
    border-width: 1.125rem;
  }
}

/* Specifically landscape iPhone X */
/* Goddammit, Apple. So unnaturally wide but narrow. */
@media only screen
and (device-width: 375px)
and (device-height: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
  /*body {
    background-color: white;
  }/**/
}

/* Specifically landscape iPad Pro */
@media only screen
and (min-device-width: 1030px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: landscape) {
  /*body {
    background-color: blue;
  }/**/

  #game td {
    padding: 1rem;
  }

  #game td,
  #game td div {
    width: 8rem;
    height: 8rem;
  }

  #game td div {
    border-width: 1.5rem;
  }

  .win .symbol {
    font-size: 11rem;
  }

  .win .word {
    font-size: 8rem;
  }

  .win .phrase {
    font-size: 5rem;
  }
}
