/* {
  outline: 1px solid red;
} /**/

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
.flex-container {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #222;
  color: #ddd;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}

td {
  padding: 0.5rem;
}

td,
td .circle {
  width: 4rem;
  height: 4rem;
}

td .circle {
  border: 0.75rem solid #ddd;
  border-radius: 50%;

  transition: 0.1s all;
}

td.true .circle {
  background-color: #ddd;
}

body.paused .flex-container {
  transform: translateY(-100vh)
}
