.win h1 {
  max-width: 90%;
  text-align: center;
  /* Unfortunately, this looks awkward when a single letter overflows */
  overflow-wrap: break-word;
}

.win .symbol {
  font-size: 8rem;
}

.win .word {
  font-size: 5rem;
}

.win .phrase {
  font-size: 3rem;
}
