.win h1 {
  /* This fixes most typography awkwardness */
  max-width: 100vmin;
  margin: 0 5vw;
  text-align: center;
}

/* I got over my issues and chose these font sizes arbitrarily */

.win .emoticon {
  font-size: 36vmin;
}

.win .word {
  font-size: 17vmin;
}

.win .phrase {
  font-size: 11vmin;
}

.win .perfect {
  font-size: 15vmin;
}
