html, body {
	padding: 0;
	margin: 0;
	height: auto;
	width: 100%;
	font-family: sans-serif;
	background-color: black;
}
.page {
	height: 100vh;
	width: 100%;
	position: relative;
}
a:active {
	color: black;
}
h1 {
	display: table-cell;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	vertical-align: middle;
}
#windows {
	background-color: black;
	color: white;
}
#darwin {
	background-color: white;
	color: black;
}
#linux {
	background-color: black;
	color: white;
}
